* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 32px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Inter', sans-serif;
}


button {
  padding: 10px 14px;
  border: 1px solid red;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  line-height: 21px;
  background-color: blue;
  font-weight: 700;
  color: white;
}

button:hover {
  background-color: red;
  color: white;
  border: 1px solid blue;
}

a:hover {
  color: red;
}

section {
  padding-top: 120px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-3 {
  width: 350px;
  border: 1px solid black;
  margin-right: 30px;
  margin-bottom: 40px;
}